root = true


[*.cs]

charset = utf-8-bom

indent_style = space

indent_size = 4


dotnet_sort_system_directives_first = true


dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion

dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface

dotnet_naming_symbols.interface.applicable_kinds = interface

dotnet_naming_style.interface_style.capitalization = pascal_case
